a {
    color: #333;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    background-color: #F8F8F8;
}
#container {
    width: 1000px;
    margin:0 auto;
    border: 1px #ccc solid;
    padding: 10px 20px;
}
#container .content h1.title {
    margin: 0 0 20px;
    text-align: center;
}
#container .content .menu {
    float: right;
}
#container .content .menu li {
    margin: 10px;
    display: inline-block;
}
.clear {
    clear: both;
}
#container .content .list-items {
    font-size: 20px;
}
#container .content .list-items li {
    margin: 10px;
}
#data-structure .list-items {
    padding-left: 20px;
}
#data-structure .list-items li .hide-show {
    margin-left: -23px;
}
#data-structure .list-items li:hover {
    cursor: pointer;
}
#container .content .tools a {
    text-decoration: none;
    margin-right: 10px;
}
#container .content .tools a:hover {
    text-decoration: underline;
}